@import './cards.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 47 129 247;
    --secondary: 28 209 79;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --button: 0 0% 90%;
    --button-hover: 0 0% 95%;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --button: 0 0% 10%;
    --button-hover: 0 0% 15%;
  }
}

@layer components {
  *,
  *::before,
  *::after {
    @apply relative;
  }

  body {
    @apply bg-background text-foreground antialiased transition-colors duration-500;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    text-rendering: optimizeLegibility;
  }

  #progression-bar {
    @apply bg-primary transition-all duration-100;
  }
}
